[data-dpr="2"] {
    .font10 {
        font-size: ( 5 + $adjust) * 2;
    }
    .font12 {
        font-size: ( 6 + $adjust) * 2;
    }
    .font14 {
        font-size: ( 7 + $adjust) * 2;
    }
    .font15 {
        font-size: ( 7.5 + $adjust) * 2;
    }
    .font16 {
        font-size: ( 8 + $adjust) * 2;
    }
    .font17 {
        font-size: ( 8.5 + $adjust) * 2;
    }
    .font18 {
        font-size: ( 9 + $adjust) * 2;
    }
    .font19 {
        font-size: ( 9.5 + $adjust) * 2;
    }
    .font20 {
        font-size: (10 + $adjust) * 2;
    }
    .font21 {
        font-size: (10.5 + $adjust) * 2;
    }
    .font22 {
        font-size: (11 + $adjust) * 2;
    }
    .font23 {
        font-size: (11.5 + $adjust) * 2;
    }
    .font24 {
        font-size: (12 + $adjust) * 2;
    }
    .font25 {
        font-size: (12.5 + $adjust)*2;
    }
    .font26 {
        font-size: (13 + $adjust) * 2;
    }
    .font27 {
        font-size: (13.5 + $adjust) * 2;
    }
    .font28 {
        font-size: (14 + $adjust) * 2;
    }
    .font30 {
        font-size: (15 + $adjust) * 2;
    }
    .font32 {
        font-size: (16 + $adjust) * 2;
    }
    .font34 {
        font-size: (17 + $adjust) * 2;
    }
    .font35 {
        font-size: (17.5 + $adjust) * 2;
    }
    .font36 {
        font-size: (18 + $adjust) * 2;
    }
    .font38 {
        font-size: (19 + $adjust) * 2;
    }
    .font40 {
        font-size: (20 + $adjust) * 2;
    }
    .font42 {
        font-size: (21 + $adjust) * 2;
    }
    .font43 {
        font-size: (21.5 + $adjust) * 2;
    }
    .font44 {
        font-size: (22 + $adjust) * 2;
    }
    .font45 {
        font-size: (22.5 + $adjust) * 2;
    }
    .font46 {
        font-size: (23 + $adjust) * 2;
    }
    .font48 {
        font-size: (24 + $adjust) * 2;
    }
    .font50 {
        font-size: (25 + $adjust) * 2;
    }
    .font52 {
        font-size: (26 + $adjust) * 2;
    }
    .font53 {
        font-size: (26.5 + $adjust) * 2;
    }
    .font54 {
        font-size: (27 + $adjust) * 2;
    }
    .font55 {
        font-size: (27.5 + $adjust) * 2;
    }
    .font56 {
        font-size: (28 + $adjust) * 2;
    }
    .font58 {
        font-size: (29 + $adjust) * 2;
    }
    .font60 {
        font-size: (30 + $adjust) * 2;
    }
    .font62 {
        font-size: (31 + $adjust) * 2;
    }
    .font64 {
        font-size: (32 + $adjust) * 2;
    }
    .font66 {
        font-size: (33 + $adjust) * 2;
    }
    .font68 {
        font-size: (34 + $adjust) * 2;
    }
    .font70 {
        font-size: (35 + $adjust) * 2;
    }
    .font72 {
        font-size: (36 + $adjust) * 2;
    }
    .font74 {
        font-size: (37 + $adjust) * 2;
    }
    .font76 {
        font-size: (38 + $adjust) * 2;
    }
    .font78 {
        font-size: (39 + $adjust) * 2;
    }
    .font80 {
        font-size: (40 + $adjust) * 2;
    }
    .font82 {
        font-size: (41 + $adjust) * 2;
    }
    .font84 {
        font-size: (42 + $adjust) * 2;
    }
    .font86 {
        font-size: (43 + $adjust) * 2;
    }
    .font87 {
        font-size: (43.5 + $adjust) * 2;
    }
    .font114 {
        font-size: (57 + $adjust) * 2;
    }
    .font101 {
        font-size: (50.5 + $adjust) * 2;
    }
//    .font136 {
//      font-size: (136/2 + $adjust) * 2;
//  }
}

[data-dpr="3"] {
    .font10 {
        font-size: ( 5 + $adjust) * 3;
    }
    .font12 {
        font-size: ( 6 + $adjust) * 3;
    }
    .font14 {
        font-size: ( 7 + $adjust) * 3;
    }
    .font15 {
        font-size: ( 7.5 + $adjust) * 3;
    }
    .font16 {
        font-size: ( 8 + $adjust) * 3;
    }
    .font17 {
        font-size: ( 8.5 + $adjust) * 3;
    }
    .font18 {
        font-size: ( 9 + $adjust) * 3;
    }
    .font19 {
        font-size: ( 9.5 + $adjust) * 3;
    }
    .font20 {
        font-size: (10 + $adjust) * 3;
    }
    .font21 {
        font-size: (10.5 + $adjust) * 3;
    }
    .font22 {
        font-size: (11 + $adjust) * 3;
    }
    .font23 {
        font-size: (11.5 + $adjust) * 3;
    }
    .font24 {
        font-size: (12 + $adjust) * 3;
    }
    .font25 {
        font-size: (12.5 + $adjust)*3;
    }
    .font26 {
        font-size: (13 + $adjust) * 3;
    }
    .font27 {
        font-size: (13.5 + $adjust) * 3;
    }
    .font28 {
        font-size: (14 + $adjust) * 3;
    }
    .font30 {
        font-size: (15 + $adjust) * 3;
    }
    .font32 {
        font-size: (16 + $adjust) * 3;
    }
    .font34 {
        font-size: (17 + $adjust) * 3;
    }
    .font35 {
        font-size: (17.5 + $adjust) * 3;
    }
    .font36 {
        font-size: (18 + $adjust) * 3;
    }
    .font38 {
        font-size: (19 + $adjust) * 3;
    }
    .font40 {
        font-size: (20 + $adjust) * 3;
    }
    .font42 {
        font-size: (21 + $adjust) * 3;
    }
    .font43 {
        font-size: (21.5 + $adjust) * 3;
    }
    .font44 {
        font-size: (22 + $adjust) * 3;
    }
    .font45 {
        font-size: (22.5 + $adjust) * 3;
    }
    .font46 {
        font-size: (23 + $adjust) * 3;
    }
    .font48 {
        font-size: (24 + $adjust) * 3;
    }
    .font50 {
        font-size: (25 + $adjust) * 3;
    }
    .font52 {
        font-size: (26 + $adjust) * 3;
    }
    .font53{
        font-size: (26.5 + $adjust) * 3;
    }
    .font54 {
        font-size: (27 + $adjust) * 3;
    }
    .font55 {
        font-size: (27.5 + $adjust) * 3;
    }
    .font56 {
        font-size: (28 + $adjust) * 3;
    }
    .font58 {
        font-size: (29 + $adjust) * 3;
    }
    .font60 {
        font-size: (30 + $adjust) * 3;
    }
    .font62 {
        font-size: (31 + $adjust) * 3;
    }
    .font64 {
        font-size: (32 + $adjust) * 3;
    }
    .font66 {
        font-size: (33 + $adjust) * 3;
    }
    .font68 {
        font-size: (34 + $adjust) * 3;
    }
    .font70 {
        font-size: (35 + $adjust) * 3;
    }
    .font72 {
        font-size: (36 + $adjust) * 3;
    }
    .font74 {
        font-size: (37 + $adjust) * 3;
    }
    .font76 {
        font-size: (38 + $adjust) * 3;
    }
    .font78 {
        font-size: (39 + $adjust) * 3;
    }
    .font80 {
        font-size: (40 + $adjust) * 3;
    }
    .font82 {
        font-size: (41 + $adjust) * 3;
    }
    .font84 {
        font-size: (42 + $adjust) * 3;
    }
        .font86 {
        font-size: (43 + $adjust) * 3;
    }
    .font87 {
        font-size: (43.5 + $adjust) * 3;
    }
    .font114 {
        font-size: (57 + $adjust) * 3;
    }
    .font101 {
        font-size: (50.5 + $adjust) * 3;
    }
//  .font136 {
//      font-size: (136/2 + $adjust) * 3;
//  }
}