@import "mixin";
@import "var";
#sharePage {
    width: 100%;
    height: 100%;
    min-height: pxToRem(1206);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    position: relative;
    //  background-color: #FFF;
    font-size: 0;
    //  padding-top: pxToRem(53);
    //  background-image: url("../img/shareBg.png");
    background-repeat: no-repeat;
    //  background-size: contain;
    background-size: 100% 100%;
    .footer {
        position: absolute;
        left: 50%;
        bottom: 0;
        width: pxToRem(750);
        height: pxToRem(285);
        background-image: url("../img/footer.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        padding-top: pxToRem(40);
        @include transform(translateX(-50%));
        .qrbox {
            border-radius: 10px;
            background-color: rgb(255, 255, 255);
            -webkit-box-shadow: 0px pxToRem(5) pxToRem(35) pxToRem(3.4) rgba(24, 125, 234, 0.18);
            box-shadow: 0px pxToRem(5) pxToRem(35) pxToRem(3.4) rgba(24, 125, 234, 0.18);
            width: pxToRem(153);
            height: pxToRem(153);
            margin: 0 auto;
            visibility: hidden;
        }
        .tips {
            margin-top: pxToRem(30);
            color: #666666;
        }
        .qrcode {
            position: absolute;
            left: 50%;
            top: pxToRem(45);
            width: pxToRem(146);
            height: pxToRem(146);
            @include transform(translateX(-50%));
        }
    }
    .tipsBox {
        position: absolute;
        left: 50%;
        bottom: pxToRem(128);
        width: pxToRem(750);
        //      height: pxToRem(285);
        text-align: center;
        padding-top: pxToRem(40);
        @include transform(translateX(-50%));
        color: #FFF;
        z-index: 11;
        .tips {
            position: relative;
            z-index: 0;
        }
        .shareBtn {
            border-radius: pxToRem(10);
            background-color: rgb(254, 180, 5);
            width: pxToRem(416);
            height: pxToRem(80);
            line-height: pxToRem(80);
            margin: 0 auto;
            margin-top: pxToRem(30);
            position: relative;
            z-index: 11;
        }
    }
    img {
        max-width: 100%;
    }
    .share {
        height: 200vh;
        .picBox {
            //          position: absolute;
            width: 8.28rem;
            height: 10.50667rem;
        }
        .panelBg {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            height: pxToRem(1206);
            background-repeat: no-repeat;
            background-size: contain;
            z-index: 1;
            width: 100%;
            border: 10px solid #177b17;
        }
        .viewer {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            //      height: pxToRem(1206);
            z-index: 2;
            width: 100%;
            height: 100%;
        }
        #shot {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            height: pxToRem(1206);
        }
    }
    .myTask {
        .viewer {
            position: relative;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 11;
            border: 10px solid #900;
            .tips {
                color: rgb(255, 255, 255);
                -webkit-text-shadow: 0px pxToRem(2) pxToRem(3.6) rgba(253, 128, 18, 0.44);
                text-shadow: 0px pxToRem(2) pxToRem(3.6) rgba(253, 128, 18, 0.44);
                position: absolute;
                width: 100%;
                bottom: pxToRem(36);
                left: 0;
                color: #FFF;
            }
            #shot {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
        .picBox {
            position: relative;
            margin: 0 auto;
            width: pxToRem(621);
            height: pxToRem(788);
        }
        .panelBg {
            background-image: url("../img/panelBg.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
            width: 100%;
            height: 100%;
            border: 10px solid #177b17;
            padding-top: pxToRem(74);
            .head {
                margin: 0 auto;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                border-width: pxToRem(2);
                border-color: rgb(255, 255, 255);
                border-style: solid;
                border-radius: 50%;
                background-color: rgb(255, 255, 255);
                width: pxToRem(79);
                height: pxToRem(79);
            }
            .name {
                color: #FFF;
                line-height: 1;
                margin-top: pxToRem(30);
            }
            .welcome {
                color: #FFF;
                line-height: 1;
                margin-top: pxToRem(12);
            }
            .qrcode {
                margin: 0 auto;
                margin-top: pxToRem(90);
                width: pxToRem(176);
                height: pxToRem(176);
            }
            .qr_title {
                text-align: center;
                color: #FFF;
                line-height: 1;
                margin-top: pxToRem(40);
                -webkit-text-shadow: 0px 1px pxToRem(5) rgba(221, 123, 8, 0.94);
                text-shadow: 0px 1px pxToRem(5) rgba(221, 123, 8, 0.94);
                span {
                    color: #FFDD3F;
                }
            }
            .qr_subTitle {
                color: #FFF;
                text-align: center;
                line-height: 1;
                margin-top: pxToRem(20);
            }
        }
    }
}