#rulePage {
    width: 100%;
    height: 100%;
    min-height: pxToRem(1206);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    position: relative;
    //  background-color: #602CDE;
    font-size: 0;
    .main_box {
        position: relative;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
        max-width: pxToRem(750);
        margin: 0 auto;
        min-height: pxToRem(1206);
        text-align: center;
        //      padding-top: pxToRem(125);
    }
    .part1 {
        min-height: pxToRem(256);
        background: #FFF;
        padding: pxToRem(40) pxToRem(25);
        .title {
            color: #191919;
            margin-bottom: pxToRem(40);
            text-align: left;
        }
        .info {
            color: rgb(77, 77, 77);
            line-height: 1.792;
            text-align: justify;
            text-justify: inter-ideograph;
        }
    }
    .vGap {
        height: pxToRem(10);
        background: #F5F5F5;
    }
    .part2 {
        min-height: pxToRem(256);
        background: #FFF;
        padding: pxToRem(40) pxToRem(25);
        padding-bottom: pxToRem(120);
        .title {
            color: #191919;
            margin-bottom: pxToRem(40);
            text-align: left;
        }
        .info {
            color: rgb(77, 77, 77);
            line-height: 1.792;
            text-align: justify;
            text-justify: inter-ideograph;
            &>p {
                line-height: 1.792;
                margin-bottom: pxToRem(60);
            }
        }
    }
    .invitationBtn {
        background-color: rgb(254, 159, 51);
        width: 100%;
        height: pxToRem(100);
        line-height: pxToRem(100);
        color: #FFF;
        text-align: center;
        max-width: pxToRem(750);
        @include transform(translateX(-50%));
        position: relative;
        left: 50%;
        //
        &.fixed {
            position: fixed;
            bottom: 0;
            left: 50%;
            width: 100%;
        }
    }
    &.style_blue {
        .invitationBtn {
            background-color: rgb(51, 165, 241);
        }
    }
}